@font-face {
    font-family: 'Calibri';
    src: url('../../assets/fonts/Calibri.ttf') format('truetype');
}

.normal span {
    font-size: 17px;
}

.carded {
    display: flex;
    overflow-x: auto;
}

/*.card-body {*/
    /*min-width: 1000px;*/
    /*max-width: 1000px;*/
/*}*/